<tr id=<%= "documento_#{documento.id}" %>>
  <td><%= link_to documento.id, edit_documento_path(documento), :remote => true %></td>
  <td><%= documento.sigla %></td>
  <td><%= documento.descripcion %></td>
  <td>
    <%= link_to 'Mostrar', documento, :remote => true, :class => 'btn btn-mini' %>
    <%= link_to 'Editar', edit_documento_path(documento), :remote => true,
        :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', documento, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>