<%= simple_form_for(@rol, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  
  <%= f.input :descripcion, :label => "Descripcion" %>
  
  <div class="form-actions">
    <%= f.submit "Guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', roles_path, :class => 'btn btn-small' %>
  </div>
<% end %>
