<%- model_class = Ciudad -%>
<div class="page-header">
  <h1><center><p class="text-success">CIUDADES</p></center></h1>
<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    <%= image_tag('search2.png', :alt => '', :class => "img-circle" ) %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= text_field_tag :search, params[:search], :placeholder => "Buscar por Descripcion" %>
    <%= submit_tag "Consultar", :class => 'btn btn-inverse', :nombre => nil %>
    <% end %>
<% end %>
</div>
<table class="table table-hover table-bordered table-condensed pretty">
  <thead>
    <tr>
      <th><%= sortable "id" %></th>
      <th><%= sortable "Descripcion" %></th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
     <%= render @ciudades %>
  </tbody>
  <tfoot>
    <tr>
      
    </tr>
  </tfoot>
</table>
<td><%= link_to 'Nueva ciudad', new_ciudad_path, :class => 'btn btn-success', :remote => true %></td>
<br />
<br />
<div align="center">
<%= will_paginate @ciudades, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
</div>
<p>
<em>Total ciudades : </em><%= @ciudades.total_entries %>
</p>
