<%- model_class = Usuario -%>
<div class="page-header">
  <h1><center><p class="text-success">usuarios</p></center></h1>
<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    <%= image_tag('search2.png', :alt => '', :class => "img-circle" ) %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= text_field_tag :search, params[:search], :placeholder => "Buscar por apellidos" %>
    <%= submit_tag "Consultar", :class => 'btn btn-inverse', :nombre => nil %>
    <% end %>
<% end %>
</div>
<table class="table table-hover table-bordered table-condensed pretty">
  <thead>
    <tr>
      <th><%= sortable "id" %></th>
      <th><%= sortable "documento_id" %></th>
      <th><%= sortable "numero_doc" %></th>
      <th><%= sortable "nombres" %></th>
      <th><%= sortable "apellidos" %></th>
      <th><%= sortable "direccion" %></th>
      <th><%= sortable "ciudad_id" %></th>
      <th><%= sortable "telefonos" %></th>
      <th><%= sortable "email" %></th>
      <th><%= sortable "rol_id" %></th>
      <th><%= sortable "cargo_id" %></th>
      <th>Acciones</th>

    </tr>
  </thead>
  <tbody>
     <%= render @usuarios %>
  </tbody>
  <tfoot>
    <tr>
      
    </tr>
  </tfoot>
</table>
<td><%= link_to 'Nueva usuario', new_usuario_path, :class => 'btn btn-success', :remote => true %></td>
<br />
<br />
<div align="center">
<%= will_paginate @usuarios, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
</div>
<p>
<em>Total usuarios : </em><%= @usuarios.total_entries %>
</p>

