<%= simple_form_for(@programacion, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  
  <%= f.label :usuario_id %>    
  <%= f.collection_select :usuario_id, Usuario.all, :id, :nombres, :prompt => "Seleccione una Usuario"  %>
  <br><br>

  <%= f.label :servicio_id %>    
  <%= f.collection_select :servicio_id, Servicio.all, :id, :direccion_inicial, :prompt => "Servicios en curso"  %>
  <br><br>
  <%= f.input :descripcion, :label => "Descripcion" %>
  
  <div class="form-actions">
    <%= f.submit "Guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', programaciones_path, :class => 'btn btn-small' %>
  </div>
<% end %>

