<<<<<<< HEAD
<%= simple_form_for(@programacion, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  
  <%= f.input :usuario_id, :label => "Usuario" %>
  <%= f.input :servicio_id, :label => "Servicio" %>
  <%= f.input :descripcion, :label => "Descripcion" %>
  
  <div class="form-actions">
    <%= f.submit "Guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', programaciones_path, :class => 'btn btn-small' %>
  </div>
<% end %>

=======
<%= simple_form_for @programacion, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :usuario_id %>
  <%= f.input :servicio_id %>
  <%= f.input :descripcion %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                programaciones_path, :class => 'btn' %>
  </div>
<% end %>
>>>>>>> ceb3fe07fcb627db29758c51404cb32dc2823036
