<%= simple_form_for(@programacion, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  
  <%= f.input :usuario_id, :label => "Usuario" %>
  <%= f.input :servicio_id, :label => "Servicio" %>
  <%= f.input :descripcion, :label => "Descripcion" %>
  
  <div class="form-actions">
    <%= f.submit "Guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', programaciones_path, :class => 'btn btn-small' %>
  </div>
<% end %>

