<tr id=<%= "programacion_#{programacion.id}" %>>
  <td><%= link_to programacion.id, edit_programacion_path(programacion), :remote => true %></td>
  <td><%= programacion.usuario.nombres %></td>
  <td><%= programacion.servicio.id %></td>
  <td><%= programacion.descripcion %></td>
  <td>
    <%= link_to 'Mostrar', programacion, :remote => true, :class => 'btn btn-mini' %>
    <%= link_to 'Editar', edit_programacion_path(programacion), :remote => true,
        :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', programacion, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>